@page
@model CrudSupera.Pages_Assinaturas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Assinatura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assinatura.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assinatura.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assinatura.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assinatura.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assinatura.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assinatura.DataFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assinatura.Cliente.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assinatura.Cliente.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Assinatura?.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
